$transition-time: 0.5s;
$font-size-button:15px;
$font-size-input:17px;
$faint-black:rgb(43, 43, 43);
$faint-black-trans:rgb(49, 49, 49);
$border-radius: 3px;
$orange:rgb(123, 1, 172);
$orange-glow:rgb(163, 0, 255);
$orange-fainted:rgb(168, 101, 1);
$main-color:$orange;
$main-color-fainted:$orange-fainted;

//Layout diameters

$grid-row-gap:10px;
$grid-column-gap:$grid-row-gap;