.button {
  &:not(.button--icon) {
    font-size: $font-size-button;
    border-radius: $border-radius;

    color: #fff;
    transition: $transition-time;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    position: relative;

    &:after {
      display: block;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: $transition-time;
      z-index: -1;
      border-radius: $border-radius;
    }

    &:hover {
      transform: scale(1.01);

      &:after {
        opacity: 1;
      }
    }
  }

  &--icon {
    background: none;
    border: none;
    color: #000;
    position: absolute;
    padding: 8px;
    top: 20px;
    right: 30px;
    z-index: 5;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.7));
    }
  }

  &--basic {
    // border: 2px solid $main-color-fainted;

    background: linear-gradient(125deg, $orange, $orange-glow);

    &:after {
      box-shadow: 0 0 10px 0 $main-color;
      // background: $main-color;
    }
  }

  &--prime {
    background: linear-gradient(125deg, rgb(0, 104, 202), rgb(0, 132, 255));

    &:after {
      box-shadow: 0 0 10px 0 rgb(0, 104, 202);
    }
  }

  &--square {
    font-size: 17px;
    padding: 5px 15px;
    margin-left: 5px;
    opacity: 0;
    position: relative;
    transform: scale(0);
  }

  &--clear {
    grid-area: clear;
  }

  &--roll {
    grid-area: roll;
  }

  &--add {
    grid-area: addbut;
  }
}