@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  45% {
    -webkit-transform: rotate(162deg);
            transform: rotate(162deg);
    opacity: 0;
  }
  55% {
    -webkit-transform: rotate(198deg);
            transform: rotate(198deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  45% {
    -webkit-transform: rotate(162deg);
            transform: rotate(162deg);
    opacity: 0;
  }
  55% {
    -webkit-transform: rotate(198deg);
            transform: rotate(198deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
}

.rotate-fade-enter-active {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.rotate-fade-leave-active {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.rotate-fade-enter,
.rotate-fade-leave-to {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  right: -100px !important;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slide-fade-enter,
.slide-fade-leave-to {
  opacity: 0;
  top: 90% !important;
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.gears {
  color: #000;
  position: absolute;
  padding: 8px;
  top: 20px;
  right: 30px;
  z-index: 5;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gears .svg-inline--fa {
  height: 40px;
}

.op-0 {
  opacity: 0;
  -webkit-transition-delay: 0s !important;
          transition-delay: 0s !important;
}

.svg-inline--fa {
  height: 1em;
}

.error {
  background: rgba(0, 0, 0, 0.432);
  color: white;
  font-size: 12px;
  padding: 5px;
  border-radius: 3px;
  text-align: center;
}

.app {
  width: 100%;
  height: calc(100% - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  padding: 20px 0 40px;
}

.app .form {
  position: relative;
  z-index: 2;
  padding: 0 20px;
  height: 100%;
  width: 100%;
  max-width: 1000px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 40px auto 40px;
      grid-template-rows: 40px auto 40px;
  grid-column-gap: 5px;
  left: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
      grid-template-areas: "clear roll" "main main" "input addbut";
}

.app .form:after {
  content: '';
  display: block;
  width: 100vw;
  height: calc(100% + 60px);
  position: absolute;
  top: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.app .form.hide {
  left: 100%;
}

.app .form .button {
  font-size: 15px;
  border-radius: 3px;
  border: 2px solid #37005c;
  background-color: #580092;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app .form .button--prime {
  background-color: #00720f;
  border-color: #004b0a;
}

.app .form .button--clear {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: clear;
}

.app .form .button--roll {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: roll;
}

.app .form .button--add {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: addbut;
}

.app .form .input {
  background-color: #2b2b2b;
  color: #c8c8c8;
  padding: 5px;
  border: none;
  border-radius: 3px;
  font-size: 17px;
  caret-color: #580092;
}

.app .form .input--error {
  -webkit-box-shadow: 0px 0px 10px 3px #cf0023;
          box-shadow: 0px 0px 10px 3px #cf0023;
}

.app .form .task-list {
  padding-left: 0;
  list-style: none;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
  overflow-y: auto;
}

.app .form .task-list__error {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.app .form .task-list .task {
  margin: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.app .form .task-list .task .task__text {
  border-color: #fff !important;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
  margin: 0 5px 0 2px;
  background-color: #313131;
}

.app .form .task-list .task .button {
  font-size: 17px;
  padding: 1px 13px;
  margin-left: 5px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  opacity: 0;
  position: relative;
  left: -110px;
  cursor: pointer;
}

.app .form .task-list .task.edit .task__text {
  border-color: #9900ff;
  -webkit-box-shadow: 0px 0px 4px 1px #9900ff;
          box-shadow: 0px 0px 4px 1px #9900ff;
  background-color: #2b2b2b;
}

.app .form .task-list .task.edit button {
  opacity: 1;
  left: 0;
}

.app .form .input-task {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: input;
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

.app .form .input-task__error {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: input;
  position: absolute;
  width: calc(100% - 10px);
  top: calc(100% + 6px);
  left: 0%;
}

.app .board {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background: #000;
}

.app .board .background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#970000), to(#729b00));
  background-image: linear-gradient(to right top, #970000, #729b00);
}

.app .board .board-task {
  z-index: 1;
  font-size: 50px;
  color: #fff;
  font-weight: 700;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.app .board.rolling .background {
  -webkit-transition: 1s;
  transition: 1s;
}

.app .board.rolling .board-task {
  -webkit-animation: rotate 1s;
          animation: rotate 1s;
}
/*# sourceMappingURL=style.css.map */